{% extends 'admin.html.twig' %}

{% block style %}

    <link rel="stylesheet" href="{{ asset('admin/assets/examples/css/dashboard/v1.css') }}">

{% endblock %}

{% block content %}

    <div class="row" data-plugin="matchHeight" data-by-row="true"></div>

{% endblock %}