{{ admin_menu('admin.menu') }}
<!--<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu">
                    <li class="site-menu-item">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-account" aria-hidden="true"></i>
                            <span class="site-menu-title">Administrators</span>
                        </a>
                    </li>
                    <li class="dropdown site-menu-item has-sub">
                        <a class="dropdown-toggle" href="javascript:void(0)" data-dropdown-toggle="false">
                            <i class="site-menu-icon md-google-pages" aria-hidden="true"></i>
                            <span class="site-menu-title">Pages</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="site-menu-scroll-wrap is-list">
                                <div>
                                    <div>
                                        <ul class="site-menu-sub site-menu-normal-list">
                                            <li class="site-menu-item has-sub">
                                                <a href="javascript:void(0)">
                                                    <span class="site-menu-title">Errors</span>
                                                    <span class="site-menu-arrow"></span>
                                                </a>
                                                <ul class="site-menu-sub">
                                                    <li class="site-menu-item">
                                                        <a class="animsition-link" href="pages/error-400.html">
                                                            <span class="site-menu-title">400</span>
                                                        </a>
                                                    </li>
                                                    <li class="site-menu-item">
                                                        <a class="animsition-link" href="pages/error-403.html">
                                                            <span class="site-menu-title">403</span>
                                                        </a>
                                                    </li>
                                                    <li class="site-menu-item">
                                                        <a class="animsition-link" href="pages/error-404.html">
                                                            <span class="site-menu-title">404</span>
                                                        </a>
                                                    </li>
                                                    <li class="site-menu-item">
                                                        <a class="animsition-link" href="pages/error-500.html">
                                                            <span class="site-menu-title">500</span>
                                                        </a>
                                                    </li>
                                                    <li class="site-menu-item">
                                                        <a class="animsition-link" href="pages/error-503.html">
                                                            <span class="site-menu-title">503</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/faq.html">
                                                    <span class="site-menu-title">FAQ</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/gallery.html">
                                                    <span class="site-menu-title">Gallery</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/gallery-grid.html">
                                                    <span class="site-menu-title">Gallery Grid</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/search-result.html">
                                                    <span class="site-menu-title">Search Result</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item has-sub">
                                                <a href="javascript:void(0)">
                                                    <span class="site-menu-title">Maps</span>
                                                    <span class="site-menu-arrow"></span>
                                                </a>
                                                <ul class="site-menu-sub">
                                                    <li class="site-menu-item">
                                                        <a class="animsition-link" href="pages/map-google.html">
                                                            <span class="site-menu-title">Google Maps</span>
                                                        </a>
                                                    </li>
                                                    <li class="site-menu-item">
                                                        <a class="animsition-link" href="pages/map-vector.html">
                                                            <span class="site-menu-title">Vector Maps</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/maintenance.html">
                                                    <span class="site-menu-title">Maintenance</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/forgot-password.html">
                                                    <span class="site-menu-title">Forgot Password</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/lockscreen.html">
                                                    <span class="site-menu-title">Lockscreen</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/login.html">
                                                    <span class="site-menu-title">Login</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/register.html">
                                                    <span class="site-menu-title">Register</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/login-v2.html">
                                                    <span class="site-menu-title">Login V2</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/register-v2.html">
                                                    <span class="site-menu-title">Register V2</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/login-v3.html">
                                                    <span class="site-menu-title">Login V3</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/register-v3.html">
                                                    <span class="site-menu-title">Register V3</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/user.html">
                                                    <span class="site-menu-title">User List</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/invoice.html">
                                                    <span class="site-menu-title">Invoice</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/blank.html">
                                                    <span class="site-menu-title">Blank Page</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/email.html">
                                                    <span class="site-menu-title">Email</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/code-editor.html">
                                                    <span class="site-menu-title">Code Editor</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/profile.html">
                                                    <span class="site-menu-title">Profile</span>
                                                </a>
                                            </li>
                                            <li class="site-menu-item">
                                                <a class="animsition-link" href="pages/site-map.html">
                                                    <span class="site-menu-title">Sitemap</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="dropdown site-menu-item has-sub">
                        <a class="dropdown-toggle" href="javascript:void(0)" data-dropdown-toggle="false">
                            <i class="site-menu-icon md-settings" aria-hidden="true"></i>
                            <span class="site-menu-title">Settings</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="site-menu-scroll-wrap is-list">
                                <div>
                                    <div>
                                        <ul class="site-menu-sub site-menu-normal-list">
                                            <li class="site-menu-item">
                                                <a href="/">
                                                    <span class="site-menu-title">Content fields</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>-->